@import '~antd/dist/antd.css';

.App {
  text-align: center;
  font-family: 'Train One', cursive;
  color: #7CFC00 !important;
}

.App-container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}